---
# used for running tests
name: tests

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  pre_commit_checks:
    runs-on: ubuntu-22.04
    steps:
      # checks out the repo
      - uses: actions/checkout@v4
      # run pre-commit
      - name: Python setup
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"
      - uses: pre-commit/action@v3.0.1
  run_tests:
    strategy:
      matrix:
        python_version: ["3.9", "3.10", "3.11", "3.12"]
        os: [ubuntu-22.04, macos-13]
    runs-on: ${{ matrix.os }}
    env:
      OS: ${{ matrix.os }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Python setup
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python_version }}
      - name: Setup for poetry
        run: |
          python -m pip install poetry
      - name: Install environment
        run: poetry install --no-interaction --no-ansi
      - name: Run pytest
        run: poetry run pytest
